@import "./login.scss";
@import "./main.scss";
@import "./modal.scss";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #EEEEEE;
  overflow-y: hidden;
}

#app {
  font-weight: normal;
  overflow-y: auto;
  width: 100%;
  height: 100dvh;
}

.cursor-pointer {
  cursor: pointer;
}

.number-btn{
  width: auto;
  height: 28px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #50B053;
  display: flex;
  justify-content: center;
  align-items: center;
}